/* General */
body{
  font-family:Roboto !important;
  overflow-x: hidden;
}

.c-item{
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(.7)
}
/* General end */

/* Navbar */
.navbar { 
  font-family:Cinzel !important; 
  transition: all 0.5s;
}
/* Navbar end */


/* Landing */
.landing-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(.7);
  position: absolute;
  z-index: -1;
}

#landing {
  height: 100vh;
  width: 100vw;
}

.landing__continue-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.landing__continue-btn:hover{
  color: var(--bs-light);
  opacity: 0.8;
}
/* Landing End */

/* About */

/* About end */

/* Projects */
#projects__container{
  /* background-position: center;
  background-size: cover;
  background-image: url('sunset.jpg');
  background-attachment: fixed;
  width: 97%; */

  background-position: center;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  background-size: cover;
  background-image: url('sunset.jpg');
  background-attachment: fixed;
  width: 97%; 
}


/* Projects end */


/* Education */
#education__container{
  background-position: center; 
  background-size: cover;
  background-image: url('campanile.jpg');
  background-attachment: fixed;
  width: 97%;
}
/* Education End */